{% extends 'base.html' %}

{% block title %}
Объявление
{% endblock title %}

{% block content %}

<h1>Название объявления: {{ advertisementdetail.title }}</h1>
<p>Автор:  {{ advertisementdetail.author}}</p>
<p>Текст новости: {{ advertisementdetail.text}}</p>

<p>Категория объявления: {{ advertisementdetail.Category }}</p>

<p>Дата объявления - {{ advertisementdetail.dateCreation }}</p>

<p>___________________________________</p>
<p>Коментарии:</p>
{% for item in advertisementdetail.comments.all %}
{{item.text}}
{{item.commentUser}}
{% if advertisementdetail.author.username in user.username %}
 <a href="{% url 'CommentUpdateView' item.id %}"><u>Модерация </u></a>
{% endif %}
<p>___________________________________</p>
{% endfor %}


{% if request.user.is_authenticated %}

<p>Добавить коментарий</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Сохранить ">
</form>
{% endif %}
{% endblock content %}